<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Ceci est sensé etre un formulaire super COOL.</h1>
    <form>
        <input type="text" id="email" name="email" placeholder="Entrer votre email">
        <input type="password" id="pwd" name="pwd" class="form-control" required="required" placeholder="Entrer votre mot de passe">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <script>
        			let form = document.querySelector('form');
			form.addEventListener("submit", loginUser);	
			function loginUser(event) {				
                loginUserWithXHR(event);
			}	
			
			function loginUserWithXHR(event) {		
				event.preventDefault();
                console.log('loginUserWithXHR');		
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
				let xhr = new XMLHttpRequest();
				xhr.open("POST", '/login', true);
				//Send the proper header information along with the request
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.onreadystatechange = function() {//Call a function when the state changes.
					if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
						form.reset();
					}
				}				
				let email = document.getElementById('email');
				let pwd = document.getElementById('pwd');
				let payLoad = "email=" + email.value + "&" + "pwd=" + pwd.value; 
				xhr.send(payLoad); 				 
			}
    </script>
</body>
</html>